

:root{
  --color-mo-btn-primary: var(--color-white);
  --color-mo-btn-success: var(--color-white);
  --color-mo-btn-warn: var(--color-white);
  --color-mo-btn-danger: var(--color-white);
}

button{
  -webkit-appearance: button;
}

.mo-btn{
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #000000d9;
  border-color: #d9d9d9;
  background: #fff;
}

.mo-btn, .mo-btn:active, .mo-btn:focus {
  outline: 0;
}
.mo-btn-primary {
  color: var(--color-white);
  border-color: var(--color-primary);
  background: var(--color-primary);
}
.mo-btn-primary:hover{
  background: var(--color-primary-hover);
}
.mo-btn-primary:active{
  background: var(--color-primary-active);
}

.mo-btn-success{
  color: var(--color-mo-btn-success);
  border-color: var(--color-success);
  background: var(--color-success);
}
.mo-btn-success:hover{
  background: var(--color-success-hover);
}
.mo-btn-success:active{
  background: var(--color-success-active);
}

.mo-btn-warn{
  color: var(--color-mo-btn-warn);
  border-color: var(--color-warn);
  background: var(--color-warn);
}
.mo-btn-warn:hover{
  background: var(--color-warn-hover);
}
.mo-btn-warn:active{
  background: var(--color-warn-active);
}

.mo-btn-danger{
  color: var(--color-mo-btn-danger);
  border-color: var(--color-danger);
  background: var(--color-danger);
}
.mo-btn-danger:hover{
  background: var(--color-danger-hover);
}
.mo-btn-danger:active{
  background: var(--color-danger-active);
}

.mo-btn-size-large{
  height: 40px;
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 2px;
}
.mo-btn-size-middle{
  
}
.mo-btn-size-small{
  height: 24px;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 2px;
}

