:root {
  /* 间距 */
  --spacing-mini: 4px;
  --spacing-small: 8px;
  --spacing-middle: 16px;
  --spacing-large: 24px;
}

/* 外边距 */
/* 上 */
.margin-t--mini {
  margin-top: var(--spacing-mini);
}
.margin-t--small {
  margin-top: var(--spacing-small);
}
.margin-t--middle {
  margin-top: var(--spacing-middle);
}
.margin-t--large {
  margin-top: var(--spacing-large);
}
/* 右 */
.margin-r--mini {
  margin-right: var(--spacing-mini);
}
.margin-r--small {
  margin-right: var(--spacing-small);
}
.margin-r--middle {
  margin-right: var(--spacing-middle);
}
.margin-r--large {
  margin-right: var(--spacing-large);
}
/* 下 */
.margin-b--mini {
  margin-bottom: var(--spacing-mini);
}
.margin-b--small {
  margin-bottom: var(--spacing-small);
}
.margin-b--middle {
  margin-bottom: var(--spacing-middle);
}
.margin-b--large {
  margin-bottom: var(--spacing-large);
}
/* 左 */
.margin-l--mini {
  margin-left: var(--spacing-mini);
}
.margin-l--small {
  margin-left: var(--spacing-small);
}
.margin-l--middle {
  margin-left: var(--spacing-middle);
}
.margin-l--large {
  margin-left: var(--spacing-large);
}

/* 内边距 */
.padding--mini {
  padding: var(--spacing-mini);
}
.padding--small {
  padding: var(--spacing-small);
}
.padding--middle {
  padding: var(--spacing-middle);
}
.padding--large {
  padding: var(--spacing-large);
}
/* 上 */
.padding-t--mini {
  padding-top: var(--spacing-mini);
}
.padding-t--small {
  padding-top: var(--spacing-small);
}
.padding-t--middle {
  padding-top: var(--spacing-middle);
}
.padding-t--large {
  padding-top: var(--spacing-large);
}
/* 右 */
.padding-r--mini {
  padding-right: var(--spacing-mini);
}
.padding-r--small {
  padding-right: var(--spacing-small);
}
.padding-r--middle {
  padding-right: var(--spacing-middle);
}
.padding-r--large {
  padding-right: var(--spacing-large);
}
/* 下 */
.padding-b--mini {
  padding-bottom: var(--spacing-mini);
}
.padding-b--small {
  padding-bottom: var(--spacing-small);
}
.padding-b--middle {
  padding-bottom: var(--spacing-middle);
}
.padding-b--large {
  padding-bottom: var(--spacing-large);
}
/* 左 */
.padding-l--mini {
  padding-left: var(--spacing-mini);
}
.padding-l--small {
  padding-left: var(--spacing-small);
}
.padding-l--middle {
  padding-left: var(--spacing-middle);
}
.padding-l--large {
  padding-left: var(--spacing-large);
}
