:root{
  --border-radius-small: 2px;
  --border-radius-large: 4px;
  --border-radius-round: 30px;
  --border-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  --border-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

/* 小圆角 */
.border-radius--small{
  border-radius: var(--border-radius-small);
}
/* 大圆角 */
.border-radius--large{
  border-radius: var(--border-radius-large);
}
/* 圆形圆角 */
.border-radius--round{
  border-radius: var(--border-radius-round);
}

/* 投影 */
/* 基础投影 */
.border-shadow--base{
  box-shadow: var(--border-shadow-base);
}
/* 浅色投影 */
.border-shadow--light{
  box-shadow: var(--border-shadow-light);
}

/* 向上 */
/* 一级阴影 */
.border-shadow--up-1{
  box-shadow: 0px -1px 2px -2px 	rgba(0, 0, 0, 0.16), 0px -3px 6px 0px rgba(0, 0, 0, 0.12), 0px -5px 12px 4px rgba(0, 0, 0, 0.09);
}
/* 二级阴影 */
.border-shadow-up-2{
  box-shadow: 0px -3px 6px -4px rgba(0, 0, 0, 0.12), 0px -6px 16px 0px rgba(0, 0, 0, 0.08), 0px -9px 28px 8px rgba(0, 0, 0, 0.05);
}
/* 三级阴影 */
.border-shadow-up-3{
  box-shadow: 0px -6px 16px -8px 	rgba(0, 0, 0, 0.08), 0px -9px 28px 0px rgba(0, 0, 0, 0.05), 0px -12px 48px 16px rgba(0, 0, 0, 0.03);
}
/* 向下 */
/* 一级阴影 */
.border-shadow--down-1{
  box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.12), 0px 5px 12px 4px rgba(0, 0, 0, 0.09);
}
/* 二级阴影 */
.border-shadow-down-2{
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}
/* 三级阴影 */
.border-shadow-down-3{
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px 0px  rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
}
/* 向左 */
/* 一级阴影 */
.border-shadow-left-1{
  box-shadow: -1px 0px 2px -2px rgba(0, 0, 0, 0.16), -3px 0px 6px 0px rgba(0, 0, 0, 0.12), -5px 0px 12px 4px rgba(0, 0, 0, 0.09);
}
/* 二级阴影 */
.border-shadow-left-2{
  box-shadow: -3px 0px 6px -4px rgba(0, 0, 0, 0.12), -6px 0px 16px 0px rgba(0, 0, 0, 0.08), -9px 0px 28px 8px rgba(0, 0, 0, 0.05);
}
/* 三级阴影 */
.border-shadow-left-3{
  box-shadow: -6px 0px 16px -8px 	rgba(0, 0, 0, 0.08), -9px 0px 28px 0px rgba(0, 0, 0, 0.05), -12px 0px 48px 16px rgba(0, 0, 0, 0.03);
}
/* 向右*/
/* 一级阴影 */
.border-shadow-right-1{
  box-shadow: 1px 0px 2px -2px rgba(0, 0, 0, 0.16), 3px 0px 6px 0px rgba(0, 0, 0, 0.12), 5px 0px 12px 4px rgba(0, 0, 0, 0.09);
}
/* 二级阴影 */
.border-shadow-right-2{
  box-shadow: 3px 0px 6px -4px 	rgba(0, 0, 0, 0.12), 6px 0px 16px 0px rgba(0, 0, 0, 0.08), 9px 0px 28px 8px rgba(0, 0, 0, 0.05);
}
/* 三级阴影 */
.border-shadow-right-3{
  box-shadow: 6px 0px 16px -8px 	rgba(0, 0, 0, 0.08), 9px 0px 28px 0px rgba(0, 0, 0, 0.05), 12px 0px 48px 16px rgba(0, 0, 0, 0.03);
}
