html{
  font-size: 10px;
}
.moui, .moui * {
  box-sizing: border-box;
  font-family: Verdana, sans-serif, monospace;
}


.moui a {

}

.moui a:link {

}

.moui a:visited {

}

.moui a:focus {

}

.moui a:hover {

}

.moui a:active {

}
