:root {
  /* 中性色板 中性色包含了黑、白、灰。能够令页面信息具备良好的主次关系。 */
  --color-gray-1: #ffffff;
  --color-gray-2: #fafafa;
  --color-gray-3: #f5f5f5;
  --color-gray-4: #f0f0f0;
  --color-gray-5: #d9d9d9;
  --color-gray-6: #bfbfbf;
  --color-gray-7: #8c8c8c;
  --color-gray-8: #595959;
  --color-gray-9: #434343;
  --color-gray-10: #262626;
  --color-gray-11: #1f1f1f;
  --color-gray-12: #141414;
  --color-gray-13: #000000;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: transparent;

  /*
    功能色
    功能色代表了明确的信息以及状态，比如成功、出错、失败、提醒、链接等。功能色的选取需要遵守用户对色彩的基本认知。
  */
  /* 成功 */
  --color-success: var(--color-green-6);
  --color-success-hover: var(--color-green-5);
  --color-success-active: var(--color-green-7);
  --color-success-deprecated-bg: var(--color-green-1);
  --color-success-deprecated-border: var(--color-green-3);

  /* 警告 */
  --color-warn: var(--color-gold-6);
  --color-warn-hover: var(--color-gold-5);
  --color-warn-active: var(--color-gold-7);
  --color-danger-deprecated-bg: var(--color-gold-1);
  --color-danger-deprecated-border: var(--color-gold-3);
  /* 错误 */
  --color-danger: var(--color-red-5);
  --color-danger-hover: var(--color-red-4);
  --color-danger-active: var(--color-red-7);
  --color-danger-deprecated-bg: var(--color-red-1);
  --color-danger-deprecated-border: var(--color-red-3);
  /* 信息 */
  --color-gray: var(--color-gray-7);
  --color-gray-light: var(--color-gray-6);
  --color-gray-lighter: var(--color-gray-5);

  /*
    中性色
    Ant Design 的中性色主要被大量的应用在界面的文字部分，
    此外背景、边框、分割线等场景中也非常常见。
    产品中性色的定义需要考虑深色背景以及浅色背景的差异，同时结合 WCAG 2.0 标准。
    Ant Design 的中性色在落地的时候是按照透明度的方式实现的
  */
  /* 文字颜色 */
  --color-font-titile: rgba(0, 0, 0, 0.85);
  --color-font-normal: var(--color-font-titile);
  --color-font-secondary: rgba(0, 0, 0, 0.45);
  --color-font-disable: rgba(0, 0, 0, 0.25);
  /* 边框 */
  --color-border: rgba(0, 0, 0, 0.15);
  /* 分割线 */
  --color-dividers: rgba(0, 0, 0, 0.6);
  /* 背景 */
  --color-bg: rgba(0, 0, 0, 0.4);
  /* 表格头 */
  --color-tbl-header: rgba(0, 0, 0, 0.2);

  /*
    中性色
    Element-plus 中性色用于文本、背景和边框颜色。 通过运用不同的中性色，来表现层次结构。
  */
  /* 文字颜色 */
  --color-font-primary: #303133;
  --color-font-regular: #606266;
  --color-font-secondary: #909399;
  --color-font-placeholder: #c0c4cc;
  /* 边框 */
  --color-border-base: #dcdfe6;
  --color-border-light: #e4e7ed;
  --color-border-lighter: #ebeef5;
  --color-border-extra-light: #f2f6fc;

  /* 
    各品牌色主色
   */
  /* Dust Red/薄暮（斗志、奔放 */
  --color-red: var(--color-red-6);
  /* Volcano / 火山（醒目、澎湃） */
  --color-volcano: var(--color-volcano-6);
  /* Sunset Orange / 日暮（温暖、欢快） */
  --color-orange: var(--color-orange-6);
  /* Calendula Gold / 金盏花（活力、积极） */
  --color-gold: var(--color-gold-6);
  /* Sunrise Yellow / 日出（出生、阳光） */
  --color-yellow: var(--color-yellow-6);
  /* Lime / 青柠 （自然、生机） */
  --color-lime: var(--color-lime-6);
  /* Polar Green / 极光绿（健康、创新） */
  --color-green: var(--color-green-6);
  /* Cyan / 明青（希望、坚强） */
  --color-cyan: var(--color-cyan-6);
  /* Daybreak Blue / 拂晓蓝（包容、科技、普惠） */
  --color-blue: var(--color-blue-6);
  /* Geek Blue / 极客蓝（探索、钻研） */
  --color-geekblue: var(--color-geekblue-6);
  /* Golden Purple / 酱紫（优雅、浪漫） */
  --color-purple: var(--color-purple-6);
  /*  Magenta / 法式洋红（明快、感性） */
  --color-magenta: var(--color-magenta-6);
}
