.m-input-left {
    display: flex;
}
.m-input-right {
    display: flex;
}
.m-input label {
    display: inline-block;
    margin-right: 10px;
    padding: 0px 5px;
}
.m-input input {
    padding: 0px 5px;
    border: 1px solid #dcdfe6;
    background-color: #fff;
}
.m-input input:focus {
    outline: 1px solid #449ffc;
}
.m-input input::-webkit-input-placeholder {
    color: #a8abb2;
}