:root {
  /* 基础色板 */
  /* Dust Red/薄暮（斗志、奔放） */
  --color-red-1: #2a1215;
  --color-red-2: #431418;
  --color-red-3: #58181c;
  --color-red-4: #791a1f;
  --color-red-5: #a61d24;
  --color-red-6: #d32029;
  --color-red-7: #e84749;
  --color-red-8: #f37370;
  --color-red-9: #f89f9a;
  --color-red-10: #fac8c3;
  /* Volcano / 火山（醒目、澎湃） */
  --color-volcano-1: #2b1611;
  --color-volcano-2: #441d12;
  --color-volcano-3: #592716;
  --color-volcano-4: #7c3118;
  --color-volcano-5: #aa3e19;
  --color-volcano-6: #d84a1b;
  --color-volcano-7: #e87040;
  --color-volcano-8: #f3956a;
  --color-volcano-9: #f8b692;
  --color-volcano-10: #fad4bc;
  /* Sunset Orange / 日暮（温暖、欢快） */
  --color-orange-1: #2b1d11;
  --color-orange-2: #442a11;
  --color-orange-3: #593815;
  --color-orange-4: #7c4a15;
  --color-orange-5: #aa6215;
  --color-orange-6: #d87a16;
  --color-orange-7: #e89a3c;
  --color-orange-8: #f3b765;
  --color-orange-9: #f8cf8d;
  --color-orange-10: #fae3b7;
  /* Calendula Gold / 金盏花（活力、积极） */
  --color-gold-1: #2b2111;
  --color-gold-2: #443111;
  --color-gold-3: #594214;
  --color-gold-4: #7c5914;
  --color-gold-5: #aa7714;
  --color-gold-6: #d89614;
  --color-gold-7: #e8b339;
  --color-gold-8: #f3cc62;
  --color-gold-9: #f8df8b;
  --color-gold-10: #faedb5;
  /* Sunrise Yellow / 日出（出生、阳光） */
  --color-yellow-1: #2b2611;
  --color-yellow-2: #443b11;
  --color-yellow-3: #595014;
  --color-yellow-4: #7c6e14;
  --color-yellow-5: #aa9514;
  --color-yellow-6: #d8bd14;
  --color-yellow-7: #e8d639;
  --color-yellow-8: #f3ea62;
  --color-yellow-9: #f8f48b;
  --color-yellow-10: #fafab5;
  /* Lime / 青柠 （自然、生机） */
  --color-lime-1: #1f2611;
  --color-lime-2: #2e3c10;
  --color-lime-3: #3e4f13;
  --color-lime-4: #536d13;
  --color-lime-5: #6f9412;
  --color-lime-6: #8bbb11;
  --color-lime-7: #a9d134;
  --color-lime-8: #c9e75d;
  --color-lime-9: #e4f88b;
  --color-lime-10: #f0fab5;
  /* Polar Green / 极光绿（健康、创新） */
  --color-green-1: #162312;
  --color-green-2: #1d3712;
  --color-green-3: #274916;
  --color-green-4: #306317;
  --color-green-5: #3c8618;
  --color-green-6: #49aa19;
  --color-green-7: #6abe39;
  --color-green-8: #8fd460;
  --color-green-9: #b2e58b;
  --color-green-10: #d5f2bb;
  /* Cyan / 明青（希望、坚强） */
  --color-cyan-1: #112123;
  --color-cyan-2: #113536;
  --color-cyan-3: #144848;
  --color-cyan-4: #146262;
  --color-cyan-5: #138585;
  --color-cyan-6: #13a8a8;
  --color-cyan-7: #33bcb7;
  --color-cyan-8: #58d1c9;
  --color-cyan-9: #84e2d8;
  --color-cyan-10: #b2f1e8;
  /* Daybreak Blue / 拂晓蓝（包容、科技、普惠） */
  --color-blue-1: #111d2c;
  --color-blue-2: #112a45;
  --color-blue-3: #15395b;
  --color-blue-4: #164c7e;
  --color-blue-5: #1765ad;
  --color-blue-6: #177ddc;
  --color-blue-7: #3c9ae8;
  --color-blue-8: #65b7f3;
  --color-blue-9: #a8c1f8;
  --color-blue-10: #d2e0fa;
  /* Geek Blue / 极客蓝（探索、钻研） */
  --color-geekblue-1: #131629;
  --color-geekblue-2: #161d40;
  --color-geekblue-3: #1c2755;
  --color-geekblue-4: #203175;
  --color-geekblue-5: #263ea0;
  --color-geekblue-6: #2b4acb;
  --color-geekblue-7: #5273e0;
  --color-geekblue-8: #7f9ef3;
  --color-geekblue-9: #a8c1f8;
  --color-geekblue-10: #030852;
  /* Golden Purple / 酱紫（优雅、浪漫） */
  --color-purple-1: #1a1325;
  --color-purple-2: #24163a;
  --color-purple-3: #301c4d;
  --color-purple-4: #3e2069;
  --color-purple-5: #51258f;
  --color-purple-6: #642ab5;
  --color-purple-7: #854eca;
  --color-purple-8: #ab7ae0;
  --color-purple-9: #cda8f0;
  --color-purple-10: #ebd7fa;
  /*  Magenta / 法式洋红（明快、感性） */
  --color-magenta-1: #291321;
  --color-magenta-2: #40162f;
  --color-magenta-3: #551c3b;
  --color-magenta-4: #75204f;
  --color-magenta-5: #a02669;
  --color-magenta-6: #cb2b83;
  --color-magenta-7: #e0529c;
  --color-magenta-8: #f37fb7;
  --color-magenta-9: #f8a8cc;
  --color-magenta-10: #fad2e3;
}
