/* pane样式 */
.tabs_pane {
    display: flex;
    justify-content: flex-start;
}

::v-deep(.tabs_pane .pane) {
    min-width: 50px;
    padding: 10px 20px;
}

::v-deep(.border_card_pane) {
    border: 1px solid #c0c0c0;
}

::v-deep(.active_panes) {
    background-color: #409eff;
    color: #fff;
}
/* nav样式 */
::v-deep(.tabs_nav) {
    min-height: 300px;
    border: 1px solid #c0c0c0;
    padding: 10px;
    text-align: left;
}